.col-1{
    width: 8.3333%;
    border: 2px solid blue;

}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 24.99%;
}
.col-4{
    width: 42.22%;
}
.col-5{
    width: 50%;
    border: 2px solid blue;
}
.col-6{
    width: 58.3333%;
}
.col-7{
    width: 66.66%;
}
.col-8{
    width: 72.933%;
    border: 2px solid blue;
}
.col-9{
    width: 77.3333%;
}
.col-10{
    width: 84.6333%;
    border: 2px solid blue;
}
.col-11{
    width: 92.25%;
}
.col-12{
    width: 100%;
}
